<% if flash[:alert].present? || flash[:notice].present? %>
  <div class="container d-flex align-items-center justify-content-center">
    <div class="toast" role="alert" aria-live="assertive" aria-atomic="true">
      <div class="toast-header">
        <strong class="me-auto">Notification</strong>
        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
      </div>
      <div class="toast-body">
        <%= flash[:alert] || flash[:notice] %>
      </div>
      <div class="mt-2 pt-2 border-top">
        <button type="button" class="btn btn-primary btn-sm">Take action</button>
        <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="toast">Close</button>
      </div>
    </div>
  </div>
<% end %>
