<div class="container d-flex align-items-center justify-content-center">
  <div>
    <br />
    <br />
    <h1>Schedule Me</h1>
    <p>We are excited to have you.</p>
    <br />

    <div data-controller="hello">
      <br />
      <input data-hello-target="name" type="text">
      <button data-action="click->hello#greet" class="btn btn-primary">Greet</button>
    </div>

    <!-- Your HTML with the modal trigger button -->
    <button
      type="button"
      class="btn btn-primary"
      data-action="click->modal#showModal"
      data-target="modal.modalContent"
    >
      Set office hours
    </button>

    <!-- Your Bootstrap modal -->
    <turbo-frame id="modal-frame">
      <%= render 'shared/modal' %>
    </turbo-frame>

    <button type='button' class="btn btn-primary" onclick="location.href='<%= dashboard_path() %>';">
      Go to Calendar
    </button>
  </div>
</div>
